.jumbotron {
    background-image: url(../images/filmphoto2.JPG);
    background-size: cover;
}

.jumbotronContent {

}

.navbar {
    background-color: turquoise !important;
}

.navbar-collapse {
    margin-left: 3%;
}

.nav-item {
    padding: 2%;
}

.display-4 {
    margin-top: 40px;
}



.lead {
    width: 70%;
}

.introSummary {
    margin: 6%;
}

.accordionSection {
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 60px;
}


#accordion .btn {
    color: white;
}

.card-header {
    background-color: rgb(56, 56, 56);
}


.images {
    height: 300px;
    border: 2px solid blue;
}



.footer {
    bottom: 0;
    border: 2px solid red;
    height: 200px;
}

.summaryAccordion {
    color: white;
    padding: 1%;
    font-weight: lighter;
    font-size: 16px;
}

.buttonHeading {
    color: turquoise !important;
    font-size: 20px;
}
